<!-- Section chức năng -->
<div class="container">
    <div class="d-flex">
        <h4 class="fw-bold mb-4">Phát triển ứng dụng IOT - Nguyễn Đình Tứ - Phòng học trực tuyến</h4>
    </div>
    
    <div class="row row-cols-2 row-cols-md-5 g-4">

        <!-- Card 1 -->
        <div class="col">
            <a href="abc" style=" text-decoration: none;">
                <div class="card custom-card text-center p-4 h-100 border-0 rounded-4 bg-body-tertiary">
                    <div class="icon mb-3">
                        <img src="/assets/image/meet.png" style="width:50px" alt="" />
                    </div>
                    <h6 class="fw-bold mb-0">Link 1</h6>
                </div>
            </a>
        </div>

        <!-- Card 1 -->
        <div class="col">
            <a href="abc" style=" text-decoration: none;">
                <div class="card custom-card text-center p-4 h-100 border-0 rounded-4 bg-body-tertiary">
                    <div class="icon mb-3">
                        <img src="/assets/image/meet.png" style="width:50px" alt="" />
                    </div>
                    <h6 class="fw-bold mb-0">Link 2</h6>
                </div>
            </a>
        </div>

        <!-- Card 1 -->
        <div class="col">
            <a href="abc" style=" text-decoration: none;">
                <div class="card custom-card text-center p-4 h-100 border-0 rounded-4 bg-body-tertiary">
                    <div class="icon mb-3">
                        <img src="/assets/image/meet.png" style="width:50px" alt="" />
                    </div>
                    <h6 class="fw-bold mb-0">Link 3</h6>
                </div>
            </a>
        </div>

        <!-- Card 1 -->
        <div class="col">
            <a href="abc" style=" text-decoration: none;">
                <div class="card custom-card text-center p-4 h-100 border-0 rounded-4 bg-body-tertiary">
                    <div class="icon mb-3">
                        <img src="/assets/image/meet.png" style="width:50px" alt="" />
                    </div>
                    <h6 class="fw-bold mb-0">Link 4</h6>
                </div>
            </a>
        </div>

        <!-- Card 1 -->
        <div class="col">
            <a href="abc" style=" text-decoration: none;">
                <div class="card custom-card text-center p-4 h-100 border-0 rounded-4 bg-body-tertiary">
                    <div class="icon mb-3">
                        <img src="/assets/image/meet.png" style="width:50px" alt="" />
                    </div>
                    <h6 class="fw-bold mb-0">Link 5</h6>
                </div>
            </a>
        </div>
    </div>
</div>