<div class="container">
    <!-- Tiêu đề -->
    <div class="text-center mb-5">
        <h2 class="fw-bold text-primary">Các khóa học</h2>
        <!-- Dropdown chọn học kỳ -->
        <div class="d-flex justify-content-center mt-3">
            <select id="selectHocKy" class="form-select w-auto rounded-pill shadow-sm fw-semibold">
                <option selected disabled>-- Chọn học kỳ --</option>
                   <option value="1">KH1, 2024 - 2025</option>
                   <option value="2">KH2, 2024 - 2025</option>
                   <option value="3">KH3, 2024 - 2025</option>
            </select>
        </div>
</div>
</div>