@{
    ViewData["Title"] = "Chi tiết khóa học";
}
<!-- Section chức năng -->
<div class="container">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <!-- Nút quay lại -->
        <a class="btn border-0" asp-controller="Home" asp-action="Index">
            <i class="bi bi-chevron-left"></i> Quay lại
        </a>

        <!-- Tiêu đề -->
        <h3 class="fw-bold text-center flex-grow-1 mb-0">
            Phát triển ứng dụng IoT - Nguyễn Đình Tứ
        </h3>

        <!-- Chỗ trống bên phải để cân đối -->
        <div style="width: 90px;"></div>
    </div>
    <div class="row row-cols-2 row-cols-md-5 g-4">

        
        <!-- Card 2 -->
        <div class="col">
            <a id="btnThongBao" style="text-decoration: none;">
                <div class="card custom-card text-center p-2 h-95 border-0 rounded-4 bg-body-tertiary">
                    <div class="icon mb-2 position-relative" style="display: inline-block;">
                        <i class="bi bi-bell fs-1"></i>

                        <!-- Badge số lượng thông báo -->
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            5
                        </span>
                    </div>
                    <h6 class="fw-bold mb-2">Thông báo</h6>
                </div>
            </a>
        </div>


        <!-- Card 3 -->
        <div class="col">
            <a id="btnTaiLieu" style="text-decoration: none;">
                <div class="card custom-card text-center p-2 h-95 border-0 rounded-4 bg-body-tertiary">
                    <div class="icon mb-2"><i class="bi bi-file-earmark-text fs-1"></i></div>
                    <h6 class="fw-bold mb-2">Tài liệu</h6>
                </div>
            </a>
        </div>

        <!-- Card 4 -->
        <div class="col">
             <a id="btnTracNghiem" style="text-decoration: none;">
                 <div class="card custom-card text-center p-2 h-95 border-0 rounded-4 bg-body-tertiary">
                    <div class="icon mb-2"><i class="bi bi-card-checklist fs-1"></i></div>
                    <h6 class="fw-bold mb-2">Trắc nghiệm</h6>
                </div>
             </a>
        </div>

        <!-- Card 5 -->
        <div class="col">
            <a id="btnNopBai" style="text-decoration: none;">
                <div class="card custom-card text-center p-2 h-95 border-0 rounded-4 bg-body-tertiary">
                    <div class="icon mb-2"><i class="bi bi-file-arrow-up fs-1"></i></div>
                    <h6 class="fw-bold mb-2">Nộp bài tập</h6>
                </div>
            </a>
        </div>

        <!-- Card 1 -->
        <div class="col">
            <div>
                <div class="card custom-card text-center p-2 h-95 border-0 rounded-4 bg-body-tertiary">
                    <div class="icon mb-2"><img src="/assets/image/meet.png" style="width:50px" alt="" /></div>
                    <a class="btn btn-success text-white px-4 rounded-pill" style="background-color:#0055ff">
                        <i class="bi bi-camera-video me-1"></i> Tham gia
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- Khu vực load nội dung -->
    <div id="noiDungContainer" class="mt-4"></div>
</div>