.course-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .course-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
    }

.view-list-btn {
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: not-allowed; /* vì đang disabled */
}

    .view-list-btn:hover {
        background-color: #e9ecef; /* xám nhạt hơn */
        color: #000; /* đổi màu chữ nếu muốn */
    }

.image-cuser {
    cursor: pointer;
}

/*css thông báo*/
/* Giới hạn chiều rộng toast và cho phép xuống dòng */
.swal2-popup.swal2-toast {
    max-width: 350px !important; /* toast không quá rộng */
    width: auto !important;
    white-space: normal !important; /* bắt buộc xuống dòng */
    text-align: left !important; /* text dễ đọc */
    padding-right: 20px !important; /* tránh icon đè text */
}

/* Nếu muốn chữ dài xuống dòng đẹp hơn */
.swal2-title {
    font-size: 14px !important;
    line-height: 1.4 !important;
    word-break: break-word !important; /* tránh tràn chữ */
}
